.topic {
  background: #F3F3F3;
  overflow: hidden;
  margin-bottom: 20px;
  height: 0;
  height: max-content;
  .topic-bottom {
    transition: 0.7s;
    height: 0;

    .lesson-list {
      width: 100%;
      padding: 0 30px;
      position: relative;
      padding-bottom: 30px;
      overflow: hidden;
    }
    .indexImg {
      position: absolute;
      bottom: -182px;
      right: -80px;
      z-index: 0;
    }
  }

  .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    cursor: pointer;
    z-index: 100;

    .title {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .topic-number {
        margin-right: 15px;

        font-family: Proxima Nova Lt;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
      }

      h3 {
        font-family: Proxima Nova Lt;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
      }
    }

    img {
      transition: 0.7s;
    }
  }

  .midleLine {
    width: 90%;
    height: 2px;
    background: #ffffff;
    margin: 0 auto 30px auto;
  }

  .lesson-list {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 30px;
    .theme {
      display: flex;
      cursor: pointer;
      z-index: 250;

      .lock{
        width: 24px;   
      }

      .numAndTitle {
        margin-left: 15px;

        span {
          font-family: "Proxima Nova Rg";
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: 15px;
          letter-spacing: 0em;
          text-align: left;
          color: #484848;
        }

        h3 {
          font-family: "Proxima Nova Rg";
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          letter-spacing: 0em;
          text-align: left;
        }
      }
    }
  }
}
@media (max-width: 767px) and (min-width: 280px) {
  .topic {
    .topic-bottom {
      .indexImg {
        display: none;
      }
    }
  }
}
