.navbar {
  max-width: 1036px;
  width: 80%;
  padding: 15px 0px 15px 0px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  z-index: 26;

  .navbarMobile {
    display: none;
  }

  .active {
    display: block;
    animation: fadeDown 0.3s ease-in-out both;
  }

  @keyframes fadeDown {
    0% {
      display: none;
      opacity: 0;
      transform: translate(-50%, -54%);
    }

    100% {
      display: block;
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }

  .col-9 {
    margin-left: 60px;
    width: calc(100% / 12 * 9);

    ul {
      list-style: none;
      display: flex;

      li {
        a {
          text-decoration: none;
          font-family: "Proxima Nova Rg";
          font-size: 20px;
          font-style: normal;
          font-weight: normal;
          line-height: 20px;
          letter-spacing: 0em;
          text-align: left;
          color: rgba(0, 0, 0, 1);
          margin-right: 30px;
          position: relative;

          &.navLink {
            font-family: "Proxima Nova Lt";
            font-size: 20px;
            font-style: normal;
            font-weight: 600;

            &::after {
              content: "";
              width: 100%;
              height: 2px;
              border-radius: 1px;
              position: absolute;
              bottom: -9px;
              left: 0;
              transition: width 0.4s;
              background: linear-gradient(
                270deg,
                #ffab00 0%,
                rgba(255, 171, 0, 0.15) 100%
              );
              animation: anim 0.4s ease-in-out;
            }
            @keyframes anim {
              from {
                width: 0;
              }
              to {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }

  .col-2 {
    display: flex;
    align-items: center;

    button {
      padding: 15px 30px;
      border: none;
      outline: none;
      display: flex;
      align-items: center;
      background: rgba(255, 255, 255, 1);
      border: 2px solid rgba(234, 234, 234, 1);
      cursor: pointer;

      &:hover {
        background: rgba(255, 171, 0, 1);
        transition: all 0.1s;
        border: 2px solid transparent;
      }

      span {
        font-family: "Proxima Nova Lt";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        margin-right: 5px;
      }
    }

    .NavProfil {
      display: flex;
      align-items: center;
      justify-content: start;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      border: 2px solid rgb(234, 234, 234);
      cursor: pointer;

      a {
        border-radius: 50%;
        color: transparent;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: start;
        width: 100%;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }
    }
    .btn-burger {
      display: none;
    }
  }
}

@media (max-width: 992px) {
  .navbar {
    max-width: 685px;
    min-width: 685px;
    padding: 0;
    height: 50px;
    margin-top: 20px;

    .navbarMobile {
      display: none;
    }

    .col-9 {
      ul {
        li {
          a {
            font-family: "Proxima Nova Rg";
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;

            &.navLink {
              font-size: 18px;
            }
          }
        }
      }
    }

    .col-2 {
      button {
        span {
          font-size: 16px;
          font-weight: 600;
          line-height: 19px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .navbar {
    max-width: 540px;
    min-width: 540px;
    transition: 0.6s;
    .col-9 {
      display: none;
    }

    .col-2 {
      display: flex;
      align-items: center;

      .btn-burger {
        width: 20px;
        height: 18px;
        margin: 16px 0 0 19px;
        display: block;
        cursor: pointer;

        .burger {
          width: 20px;
          height: 2px;
          border-radius: 6px;
          background: #000;
          transition: all 0.4s ease-in-out;

          &::after,
          &::before {
            content: "";
            display: block;
            position: absolute;
            width: 20px;
            height: 2px;
            background: black;
            border-radius: 5px;
            transition: all 0.4s ease-in-out;
          }

          &::before {
            transform: translateY(-6px);
          }

          &::after {
            transform: translateY(6px);
          }
        }

        &.open {
          & .burger {
            background: transparent;
          }

          & .burger::after {
            transform: rotate(-45deg);
          }

          & .burger::before {
            transform: rotate(45deg);
          }
        }
      }
    }
  }
  .phoneNavbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    padding: 30px 5% 5% 5%;
    display: flex;
    flex-direction: column;
    z-index: 1500;
    animation: nav 0.5s ease-out;

    @keyframes nav {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0%);
      }
    }
    .col-1 {
      width: 50px;
    }
    .col-9 {
      ul {
        list-style: none;
        display: flex;
        flex-direction: column;

        li {
          margin-bottom: 30px;
          a {
            text-decoration: none;
            font-family: "Proxima Nova Rg";
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            color: rgba(0, 0, 0, 1);
            position: relative;

            &.navLink {
              font-family: "Proxima Nova Lt";
              font-size: 24px;
              font-style: normal;
              font-weight: 600;
              line-height: 29px;

              &::after {
                content: "";
                width: 100%;
                height: 2px;
                border-radius: 1px;
                position: absolute;
                bottom: -9px;
                left: 0;
                transition: width 0.4s;
                background: linear-gradient(
                  270deg,
                  #ffab00 0%,
                  rgba(255, 171, 0, 0.15) 100%
                );
                animation: anim 0.4s ease-in-out;
              }
              @keyframes anim {
                from {
                  width: 0;
                }
                to {
                  width: 100%;
                }
              }
            }
          }
          &:first-child {
            margin-top: 30px;
          }
          &:last-child {
            margin-bottom: 60px;
          }
        }
      }
    }
    .col-2 {
      display: flex;
      align-items: center;
      button {
        padding: 15px 30px;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        background: rgba(255, 255, 255, 1);
        border: 2px solid rgba(234, 234, 234, 1);
        cursor: pointer;

        &:hover {
          background: rgba(255, 171, 0, 1);
          transition: all 0.1s;
          border: 2px solid transparent;
        }

        span {
          font-family: "Proxima Nova Lt";
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 19px;
          letter-spacing: 0em;
          text-align: left;
          margin-right: 5px;
        }
      }
      .btn-burger {
        width: 20px;
        height: 18px;
        margin: 16px 0 0 19px;
        display: block;
        cursor: pointer;
        position: absolute;
        top: 30px;
        left: 85%;

        .burger {
          width: 20px;
          height: 2px;
          border-radius: 6px;
          background: #000;
          transition: all 0.4s ease-in-out;

          &::after,
          &::before {
            content: "";
            display: block;
            position: absolute;
            width: 20px;
            height: 2px;
            background: black;
            border-radius: 5px;
            transition: all 0.4s ease-in-out;
          }

          &::before {
            transform: translateY(-6px);
          }

          &::after {
            transform: translateY(6px);
          }
        }

        &.open {
          & .burger {
            background: transparent;
          }

          & .burger::after {
            transform: rotate(-45deg);
          }

          & .burger::before {
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .navbar {
    max-width: 90%;
    min-width: 90%;
    transition: 0.6s;
  }

  .phoneNavbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: #fff;
    padding: 30px 5% 5% 5%;
    display: flex;
    flex-direction: column;
    z-index: 1500;
    animation: nav 0.4s ease-out;

    @keyframes nav {
      0% {
        transform: translateX(-100%);
      }
      100% {
        transform: translateX(0%);
      }
    }
    .col-9 {
      ul {
        list-style: none;
        display: flex;
        flex-direction: column;

        li {
          a {
            text-decoration: none;
            font-family: "Proxima Nova Rg";
            font-size: 20px;
            font-style: normal;
            font-weight: normal;
            line-height: 20px;
            letter-spacing: 0em;
            text-align: left;
            color: rgba(0, 0, 0, 1);
            position: relative;

            &.navLink {
              font-family: "Proxima Nova Lt";
              font-size: 20px;
              font-style: normal;
              font-weight: 600;

              &::after {
                content: "";
                width: 100%;
                height: 2px;
                border-radius: 1px;
                position: absolute;
                bottom: -9px;
                left: 0;
                transition: width 0.4s;
                background: linear-gradient(
                  270deg,
                  #ffab00 0%,
                  rgba(255, 171, 0, 0.15) 100%
                );
                animation: anim 0.4s ease-in-out;
              }
              @keyframes anim {
                from {
                  width: 0;
                }
                to {
                  width: 100%;
                }
              }
            }
          }
          &:first-child {
            margin-top: 30px;
          }
          &:last-child {
            margin-bottom: 60px;
          }
        }
      }
    }
    .col-2 {
      display: flex;
      align-items: center;

      button {
        padding: 15px 30px;
        border: none;
        outline: none;
        display: flex;
        align-items: center;
        background: rgba(255, 255, 255, 1);
        border: 2px solid rgba(234, 234, 234, 1);
        cursor: pointer;

        &:hover {
          background: rgba(255, 171, 0, 1);
          transition: all 0.1s;
          border: 2px solid transparent;
        }

        span {
          font-family: "Proxima Nova Lt";
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 19px;
          letter-spacing: 0em;
          text-align: left;
          margin-right: 5px;
        }
      }

      .btn-burger {
        width: 20px;
        height: 18px;
        margin: 16px 0 0 19px;
        display: block;
        cursor: pointer;
        position: absolute;
        top: 30px;
        left: 80%;

        .burger {
          width: 20px;
          height: 2px;
          border-radius: 6px;
          background: #000;
          transition: all 0.4s ease-in-out;

          &::after,
          &::before {
            content: "";
            display: block;
            position: absolute;
            width: 20px;
            height: 2px;
            background: black;
            border-radius: 5px;
            transition: all 0.4s ease-in-out;
          }

          &::before {
            transform: translateY(-6px);
          }

          &::after {
            transform: translateY(6px);
          }
        }

        &.open {
          & .burger {
            background: transparent;
          }

          & .burger::after {
            transform: rotate(-45deg);
          }

          & .burger::before {
            transform: rotate(45deg);
          }
        }
      }
    }
  }
}
