@import "./PageLeft/PageLeft.scss";
@import "./VideoPlayer/videoPlayer.scss";
@import "./Modul/modul.scss";
@import "./Topic/topic.scss";

.videoCourse {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  overflow: hidden;
  .base-container {
    width: 80%;
    max-width: 1036px;
    margin: 0 auto;
    display: flex;

    .pageRight {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      margin-left: 20px;
      margin-bottom: 60px;

      .pageLeft {
        display: none;
      }
    }
  }
}

@media (max-width: 992px) {
  .videoCourse {
    .base-container {
      max-width: 685px;
      min-width: 685px;

      .pageRight {
        width: 65.8%;
        margin-top: 20px;
      }
    }
  }
}

@media (max-width: 767px) {
  .videoCourse {
    .base-container {
      max-width: 540px;
      min-width: 540px;

      .pageRight {
        width: 56.8%;
      }
    }
  }
}

@media (max-width: 576px) {
  .videoCourse {
    width: 100%;
    margin: 0 auto;

    .base-container {
      max-width: 540px;
      min-width: auto;
      width: 90%;

      .pageRight {
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;

        .pageLeft {
          display: block;
          width: 100%;

          .container {
            width: 100%;
            margin: 0 auto;

            .card {
              display: flex;
              flex-direction: column;
              justify-content: left;
              align-items: flex-start;
              width: 100%;
              min-width: 215px;
              margin-bottom: 20px;

              .img {
                width: 100%;
                background-size: contain;
                background-repeat: no-repeat;
                height: auto;
              }

              .text {
                width: 80%;
                margin: 30px 40px 32px 30px;

                h2 {
                  font-family: "Proxima Nova Rg";
                  font-size: 20px;
                  line-height: 24px;
                }

                p {
                  font-family: "Proxima Nova Rg";
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 24px;
                  letter-spacing: 0em;
                  text-align: left;
                }
              }

              .profile {
                display: flex;
                width: 262px;
                margin-bottom: 30px;
                margin-left: 30px;

                .nameAndLebel {
                  margin-left: 15px;

                  h3 {
                    font-family: "Proxima Nova Rg";
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px;
                  }

                  p {
                    font-family: "Proxima Nova Rg";
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                  }
                }
              }

              a {
                width: 262px;
                text-decoration: none;
                color: black;

                font-family: Proxima Nova Lt;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                line-height: 19px;
                margin-left: 30px;

                img {
                  margin-bottom: -5px;
                  margin-left: 5px;
                }
              }
            }

            .download {
              display: flex;
              flex-direction: column;
              width: 100%;
              padding: 30px;
              background: #ffffff;
              border: 2px solid #eaeaea;
              margin-bottom: 20px;

              h2 {
                font-family: Proxima Nova Lt;
                font-size: 20px;
                font-style: normal;
                line-height: 24px;
                margin-bottom: 5px;
              }

              span {
                font-family: "Proxima Nova Rg";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                color: rgba(72, 72, 72, 1);
                margin-bottom: 30px;
              }

              a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 171px;
                height: 50px;
                background: #ffffff;
                border: 2px solid #eaeaea;
                padding-top: 2px;
                text-decoration: none;

                p {
                  color: black;

                  font-family: Proxima Nova Lt;
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 19px;
                  letter-spacing: 0em;
                  text-align: center;
                }

                img {
                  margin-left: 5px;
                }
              }
            }

            .courses {
              width: 100%;
              padding: 30px;
              background: #ffffff;
              border: 2px solid #eaeaea;

              [class*="course"] {
                display: flex;

                img {
                  width: 24px;
                  height: 24px;
                }

                h3 {
                  margin-left: 15px;
                  margin-bottom: 30px;

                  font-family: Proxima Nova Lt;
                  font-size: 20px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 24px;
                  letter-spacing: 0em;
                  text-align: left;
                }
              }

              a {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 192px;
                height: 50px;
                background: #ffffff;
                border: 2px solid #eaeaea;
                text-decoration: none;
                color: black;

                p {
                  margin-right: 5px;

                  font-family: "Proxima Nova Rg";
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 600;
                  line-height: 19px;
                  letter-spacing: 0em;
                  text-align: left;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: 340px) {
  .videoCourse {
    .base-container {
      .pageRight {
        .pageLeft {
          .container {
            .card {
              .text {
                margin-left: 10px;
              }

              .profile {
                margin-left: 10px;
              }

              a {
                margin-left: 10px;
              }

              .underline {
                margin-left: 10px;
              }
            }

            .courses {
              padding: 15px;
            }
          }
        }
      }
    }
  }
}
