.footer {
  width: 100%;
  background-color: #f4f4f4;
  background-image: url("../../../backgroundImages/veryDots.svg");
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;

  .container {
    max-width: 1036px;
    width: 80%;
<<<<<<< HEAD
    margin: auto;
=======
    margin: 0 auto;
>>>>>>> master
    display: flex;
    align-items: center;
    justify-content: space-between;

    .connecting-text {
      .link {
        font-family: "Proxima Nova Rg";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        text-decoration: none;
        color: #000000;
        margin-right: 30px;
        position: relative;

        &::after {
          content: "";
          width: 0%;
          background: #000000;
          height: 1px;
          position: absolute;
          bottom: -3px;
          left: 0;
          transition: all 0.4s;
        }

        &:hover::after {
          width: 100%;
        }
      }
    }
    .connecting-icon {
      a {
        margin-right: 30px;
        cursor: pointer;

        &:last-child {
          margin-right: 0;
        }

        .icon {
          color: #000;
          transition: all 0.4s;
          transform: scale(1);
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .container {
      max-width: 685px;
      min-width: 685px;
    }
  }
  @media (min-width: 576px) and (max-width: 767px) {
    .container {
      max-width: 540px;
      min-width: 540px;
    }
  }
  @media (max-width: 575px) {
    .container {
      width: 90%;
      display: flex;
      justify-content: center;

      .connecting-text {
        .link:last-child {
          margin-right: 0;
        }
      }
      .connecting-icon {
        display: none;
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    .container {
      max-width: 685px;
      min-width: 685px;
    }
  }
  @media (min-width: 576px) and (max-width: 767px) {
    .container {
      max-width: 540px;
      min-width: 540px;
    }
  }
  @media (max-width: 575px) {
    .container {
      width: 90%;
      display: flex;
      justify-content: center;

      .connecting-text{
        .link:last-child{
          margin-right: 0;
        }
      }
      .connecting-icon{
        display: none;
      }
    }
  }
}
