.section7 {
  width: 100%;
  background-color: #f4f4f4;
  background-image: url("../../../backgroundImages/veryDots.svg");
  padding: 59px 0 60px 0;
  user-select: none;

  .container {
    max-width: 1036px;
    width: 80%;
    margin: auto;

    .col {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      align-items: center;
      margin-bottom: 32px;

      .Caption {
        width: max-content;
        display: flex;

        &-text {
          width: max-content;
          margin-right: 15px;
          font-family: Gosha Sans;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 29px;
        }
      }

      .next,
      .prev {
        width: max-content;
        cursor: pointer;
        font-size: 2.2vw;
        transition: 0.4s ease;
        outline: none;
        background: none;
        border: none;
      }
    }

    .Carousel {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: auto;

      &-slide {
        display: flex;
        width: 100%;
        height: auto;
        overflow: hidden;

        .slide-box {
          position: relative;
          width: 100%;
          height: auto;
          display: flex;
          transition: 0.8s ease-in-out;
        }

        img {
          position: relative;
          margin-right: 1.464vw;
          width: 24.505vw;
          height: 24.505vw;
        }

        @media (min-width: 1600px) {
          img {
            width: 20.505vw;
            height: 20.505vw;
          }
        }
        @media (min-width: 2000px) {
          img {
            width: 17.505vw;
            height: 17.505vw;
          }
        }
      }
    }

    @media (min-width: 1600px) {
      width: 65%;
    }
    @media (min-width: 2000px) {
      width: 56%;
    }
  }
}

@media (max-width: 992px) {
  .section7 {
    .container {
      max-width: 685px;
      min-width: 685px;
      .col {
        .Caption {
          &-text {
            font-size: 16px;
            font-weight: normal;
            line-height: 19.2px;
          }
        }
        .carousel-control {
          display: none;
        }
      }
      .Carousel {
        width: 130%;
        .Carousel-slide {
          .slide-box {
            width: 120%;
            overflow: scroll;
            padding-right: 16%;
          }
          .slide-box::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .section7 {
    width: auto;
    .container {
      width: 540px;
      max-width: 540px;
      min-width: auto;

      .Carousel {
        .Carousel-slide {
          img {
            width: 244px;
            height: 244px;
            margin-right: 15px;
          }
          .slide-box {
            overflow: scroll;
          }
          .slide-box::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .section7 {
    .container {
      max-width: 90%;
      min-width: 90%;

      .col {
        .Caption {
          &-text {
            width: 90%;
            font-size: 16px;
            line-height: 24px;
          }
        }
        .carousel-control {
          display: none;
        }
      }
      .Carousel {
        .Carousel-slide {
          img {
            width: 244px;
            height: 244px;
            margin-right: 15px;
          }
          .slide-box {
            overflow: scroll;
          }
          .slide-box::-webkit-scrollbar {
            display: none;
          }
        }
      }
    }
  }
}
