.modul {
  width: 100%;
  margin-top: 20px;

  .container {
    width: 100%;

    .modulNav {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 15px;
      background: #f4f4f4;
      margin-bottom: 20px;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 128px;
        height: 54px;
        outline: none;
        background: #f4f4f4;
        border: none; 
        margin-right: 15px;
        text-align: center;
        cursor: pointer;
        font-family: "Proxima Nova Lt";
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 19px;

        img {
          margin-left: 5px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .container {
    width .modulNav {
      button {
        height: 44px;
      }
    }
  }
}

@media (max-width: 767px) {
  .modul {
    .container {
      .modulNav {
        width: 120%;
        padding-right: 15%;
        overflow-x: scroll;

        &::-webkit-scrollbar {
          display: none;
        }

        button {
          min-width: 145px;
          height: 54px;
        }
      }
    }
  }
}

@media (max-width: 575px) {
  .modul {
    .container {
      width: 100%;
    }
  }
}
