.kursMiddle {
  display: flex;
  justify-content: center;
  max-width: 1366px; 
  margin: 0 auto;
  padding: 80px 0;
  background: #E5E5E5;

  .container {
    max-width: 1258px;
    width: 100%;
    margin: 0px auto 0;
    padding-right: 20px;

    .head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;

      .title {
        display: flex;
        align-items: center;
        justify-content: center;

        h1 {
          font-family: "Proxima Nova";  
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 29px;
          letter-spacing: 0em;
          text-align: left;
          margin-right: 15px;
        }

        .line{
          height: 1px;
          width: 75px;
          background-color: black;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .kursMiddle {
    width: 100%;
    .container {

      .head {
        .title {
          h1 {
            font-size: 16px;
            line-height: 19px;
          }
        }
      }
    }
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .kursMiddle {
    width: auto;
    .container {
      width: 540px;
      max-width: 540px;
      min-width: auto;
    }
  }
}

@media (max-width: 575px) {
  .kursMiddle {
    display: block;
    width: 100%;

    .container {
      max-width: 90%;
      min-width: 90%;
      height: auto;

      .head {
        margin-top: 30px;

        .title {
          width: 90%;
          justify-content: start;
          h1 {
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: 19.2px;
            letter-spacing: 0em;
            text-align: left;
          }

          .img {
            width: 60px;
            min-width: 24px;
            background-image: url("../../../backgroundImages/short group 130.png");
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}
