.mobileForm {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url(../../backgroundImages/veryDots.svg);
  min-height: 500px;

  #sign-in-button {
    display: none;
  }

  .navbar {
    height: 90px;
    width: 100%;
    background: transparent;
    margin: 0 auto;
  }

  .number {
    position: static;
    width: 100%;
    height: 80%;
    padding-top: 30px;
    margin: 0;
    background: transparent;
    // min-height: 350px;
    min-height: max-content;
    max-height: max-content;
    display: block;

    .container {
      position: static;
      margin: 0 auto;
    }
  }

  .authNumber {
    position: static;
    padding-top: 30px;
    height: 80%;
    min-height: 400px;
    min-height: auto;
    // margin-bottom: 50px;

    .container {
      margin: 0 auto;
    }
  }

  .login {
    position: absolute;
    top: 120px;
    padding-top: 30px;
    height: 80%;
    .container {
      position: absolute;
      margin: 0 auto;
      top: 0;
      left: 50%;
      transform: translate(-50%,0);

      .box{
        .errorMsg {
        top: 180px;
        right: 30px;
      }

      .errorImg {
        top: 237px;
        right: 50px;
      }
      }
    }
  }

  .register {
    position: static;
    padding-top: 30px;
    height: 80%;
    // margin-bottom: 70px;

    .footer {
      margin-top: 50px;
      .container {
        background-color: transparent;
        border: none;
        width: 100%;
        padding-bottom: 0;

        // .connection-text{
        //   .link, a{
        //     margin: 0;
        //   }
        // }
      }
    }

    .container {
      margin: 0 auto;
      height: max-content;
      padding-bottom: 5px;

      .box {
        height: max-content;
        // .submit {
        //   display: flex;
        //   justify-content: center;
        //   align-items: center;
        //   block-size: auto;
        //   padding: 16px 87px 15px 80px;
        //   text-decoration: none;
        //   background: #ffab00;
        //   color: black;
        //   border: none;
        //   outline: none;

        //   font-family: Proxima Nova Lt;
        //   font-size: 16px;
        //   font-style: normal;
        //   font-weight: 600;
        //   line-height: 19px;
        //   letter-spacing: 0em;
        //   text-align: left;

        //   img {
        //     margin-left: 5px;
        //     margin-bottom: 2px;
        //   }
        // }
      }
    }
  }

  @media (min-height: 570px) {
    .footer {
      position: fixed;
      bottom: 0;
    }
  }

  @media (max-width: 360px) {
    .navbar {
      // max-width: none;
      // min-width: auto;
      height: 90px;
      width: 100%;
      background: transparent;
      margin: 0 auto;
    }

    .number {
      position: static;
      width: 100%;
      height: 80%;
      padding-top: 30px;
      margin: 0;
      background: transparent;
      min-height: 350px;

      .container {
        width: 97%;
        position: static;
        margin: 0 auto;
      }

      .box {
        width: 100%;
        height: 100%;
        padding: 20px;
      }
    }

    .authNumber {
      position: static;
      padding-top: 30px;
      height: 80%;
      min-height: 400px;

      .container {
        width: 97%;
        margin: 0 auto;

        .check {
          padding-left: 40px;
          padding-right: 40px;
        }
      }
    }

    .login {
      position: static;
      padding-top: 30px;
      height: 80%;

      .container {
        margin: 0 auto;
        width: 97%;

        .regLink {
          padding-left: 40px;
          padding-right: 40px;
        }
      }
    }

    .register {
      position: static;
      padding-top: 30px;
      height: 100%;

      .footer {
        margin-top: 50px;
        .container {
          background-color: transparent;
          border: none;
          width: 100%;
          padding-bottom: 0;

          .connection-text {
            .link,
            a {
              margin: 0;
            }
          }
        }
      }

      .container {
        margin: 0 auto;
        width: 97%;
        .box {
          .submit {
            padding: 16px 55px 15px 50px;
          }
        }
      }
    }
  }
}

.reg {
  .footer {
    display: none;
  }

  .register {
    .footer {
      display: flex;
      position: static;
    }
  }

  @media (min-height: 768px) {
    .register {
      .footer {
        position: fixed;
        bottom: 0;
      }
    }
  }
}

.log {
  height: 616px;
  .footer {
    display: flex;
    position: absolute;
    top: 600px;
  }
  @media (min-height: 675px) {
      height: 95%;
      .footer {
        position: fixed;
        top: auto;
        bottom: 0;
      }
    }
}
