.rec {
  #reglink {
    padding: 16px 65px 15px 65px;
    width: 100%;

    img {
      margin-top: 1px;
    }
  }
  #errorMsg{
    width: 190px;
    top: 290px;
  }
  #errorImg{
    top: 341px;
  }
}
