.profilSection {
  width: 100%;
  margin: auto;
  padding: 40px 0 60px 0;
  position: relative;
  background-color: #fff;

  .container {
    max-width: 1180px;
    width: 100%;
    padding: 0 50px;
    margin: auto;
    display: flex;

    .col-4 {
      background: #f3f3f3;
      width: calc(100% / 12 * 8);
      margin-right: 20px;
      .information {
        width: 100%;
        padding: 20px;
        display: flex;
        align-items: center;
        border-bottom: 2.5px solid #fff;

        .profil {
          width: 67px;
          height: 67px;
          border-radius: 50%;
          margin-right: 30px;
          background: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          user-select: none;

          .person {
            width: 25px;
            height: 25px;
            margin: auto;
            object-fit: cover;
          }

          .profilImg {
            display: none;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            object-fit: cover;
          }
        }
        .info {
          display: flex;
          .name {
            margin-right: 30px;
          }
          .name,
          .num {
            span {
              font-family: "Proxima Nova Rg";
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
              line-height: 16px;
              color: rgba(0, 0, 0, 0.6);
            }
            .kompText,
            .komp {
              font-family: "Proxima Nova Lt";
              font-size: 24px;
              font-style: normal;
              font-weight: 600;
              line-height: 29px;
            }
          }
        }
      }
      .tizim {
        width: 100%;
        padding: 34px 20px;
        display: flex;

        button {
          display: flex;
          align-items: center;
          border: none;
          outline: none;
          background: rgba(255, 171, 0, 1);
          padding: 15px 30px;
          margin-right: 20px;
          font-family: "Proxima Nova Lt";
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: 17.05px;
          cursor: pointer;
          &:last-child {
            margin-right: 0;
          }
        }
        .out {
          background-color: #fff;
        }
      }
    }
    .col-2 {
      width: calc(100% / 12 * 4);
      padding: 20px;
      background: #f3f3f3;

      .caption {
        display: flex;
        h3 {
          font-family: Gosha Sans;
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          margin-right: 5px;
        }
      }
      .connect {
        margin-top: 30px;

        .link {
          display: flex;
          align-items: center;
          margin-bottom: 20px;
          a {
            margin-left: 5px;
            text-decoration: none;
            color: #000;
            font-family: "Proxima Nova Rg";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
          }

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .modal {
    transform: translate(-50%, -50%);
    position: absolute;
    top: 70%;
    left: 50%;
    z-index: 256;
    transition: all cubic-bezier(0.6, -0.28, 0.735, 0.045);
  }
}

@media (max-width: 1130px) and (min-width: 993px) {
  .profilSection {
    .container {
      .col-4 {
        width: calc(100% / 12 * 9);

        .information {
          .info {
            .name,
            .num {
              .kompText,
              .komp {
                font-size: 22px;
              }
            }
          }
        }
      }
      .col-2 {
        width: calc(100% / 12 * 4);
        .caption {
          .svg {
            display: block;
          }
          .png {
            display: none;
          }
        }
      }
    }
  }
}
@media (max-width: 992px) {
  .profilSection {
    width: 100%;
    .container {
      max-width: 685px;
      min-width: 685px;
      padding: 0;

      .col-4 {
        width: 70%;

        .information {
          .profil {
            width: 62px;
            height: 62px;
            margin-right: 15px;
          }
          .info {
            .name,
            .num {
              .kompText,
              .komp {
                font-size: 20px;
                line-height: 24px;
              }
              span {
                margin-bottom: 5px;
              }
            }
          }
        }
        .tizim {
          button {
            font-size: 14px;
            line-height: 17px;
            padding: 11px 20px;
          }
        }
      }
      .col-2 {
        width: 30%;
        .connect {
          margin-top: 15px;

          .link {
            margin-bottom: 15px;

            a {
              font-size: 14px;
              line-height: 14px;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .profilSection {
    width: 100%;
    padding: 20px 0 40px 0;
    .container {
      max-width: 540px;
      min-width: 540px;
      margin: auto;
      display: flex;
      flex-direction: column;

      .col-4 {
        max-width: 540px;
        min-width: 540px;
        .information {
          display: flex;
          flex-direction: column;
          align-items: start;

          .profil {
            margin-bottom: 20px;
          }
          .info {
            display: flex;
            flex-direction: column;

            .name {
              margin-bottom: 30px;
            }
            .name,
            .num {
              span {
                font-size: 16px;
                line-height: 16px;
                margin-bottom: 8px;
              }
            }
          }
        }
        .tizim {
          display: flex;
          flex-direction: column;
          padding: 20px;

          button {
            width: max-content;
          }
          .settings {
            margin-bottom: 10px;
          }
        }
      }

      .col-2 {
        max-width: 100%;
        min-width: 100%;
        margin-top: 20px;
        .caption {
          .svg {
            display: none;
          }
          .png {
            display: block;
          }
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .profilSection {
    width: 100%;
    padding: 20px 0 40px 0;

    .container {
      max-width: 90%;
      min-width: 90%;
      display: flex;
      flex-direction: column;

      .col-4 {
        max-width: 100%;
        min-width: 100%;
        .information {
          display: flex;
          flex-direction: column;
          align-items: start;

          .profil {
            margin-bottom: 20px;
          }
          .info {
            display: flex;
            flex-direction: column;

            .name {
              margin-bottom: 30px;
            }
            .name,
            .num {
              span {
                font-size: 16px;
                line-height: 16px;
                margin-bottom: 8px;
              }
            }
          }
        }
        .tizim {
          display: flex;
          flex-direction: column;
          padding: 20px;

          button {
            width: max-content;
          }
          .settings {
            margin-bottom: 10px;
          }
        }
      }

      .col-2 {
        max-width: 100%;
        min-width: 100%;
        margin-top: 20px;
      }
    }
  }
}
