.mainMiddle {
  width: 100%;
  background-color: #fff;
  height: auto;
  padding: 60px 0;

  .container {
    max-width: 1180px;
    width: 100%;
    padding: 0 50px;
    margin: auto;

    .box {
      width: 100%;
      margin-bottom: 20px;
      img {
        height: 100%;
      }

      &1 {
        display: flex;
        margin-bottom: 20px;
        border: 2px solid rgba(234, 234, 234, 1);
        .box-left {
          img {
            height: 100%;
          }
        }
        .box-right {
          width: 100%;
          background-color: #fff;
          padding: 30px 0 30px 30px;
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          border-left: 2px solid rgba(234, 234, 234, 1);

          .caption-text {
            &-top {
              display: flex;
              align-items: center;
              img {
                object-fit: contain;
              }
              span {
                font-family: "Proxima Nova Rg";
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0.03em;
                text-align: left;
                color: rgba(72, 72, 72, 1);
                margin-left: 15px;
              }
            }
            &-bottom {
              p {
                font-family: "Proxima Nova Rg";
                font-size: 34px;
                font-style: normal;
                font-weight: 700;
                line-height: 41px;
                letter-spacing: 0.03em;
                text-align: left;
                margin-top: 15px;
              }
            }
          }

          .connecting {
            display: flex;
            .link {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 50px;
              height: 50px;
              border: 2px solid rgba(234, 234, 234, 1);
              border-radius: 50%;
              background: rgba(255, 255, 255, 1);
              margin-right: 15px;
              cursor: pointer;
              transition: all 0.4s;

              a {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
              }
              &:hover {
                border: 2px solid #dad9d9;
              }

              &:last-child {
                margin-right: 0;
              }
            }
          }
        }
      }
      &2 {
        p {
          margin: 20px 0;
          font-family: "Proxima Nova Rg";
          font-size: 20px;
          font-style: normal;
          font-weight: 400;
          line-height: 30px;
          letter-spacing: 0em;
          text-align: left;
        }
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media (min-width: 992px) and (max-width: 1199px) {
    height: auto;
    padding-bottom: 60px;
    .container {
      max-width: 910px;

      .box {
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  @media (min-width: 768px) and (max-width: 991px) {
    height: auto;
    padding-bottom: 30px;
    .container {
      max-width: 685px;
      min-width: 685px;

      .box {
        img {
          width: 65%;
          height: 65%;
        }
        &1 {
          .box-left {
            img {
              width: 100%;
            }
          }
          .box-right {
            .caption-text {
              &-bottom {
                p {
                  font-size: 24px;
                  line-height: 29px;
                  letter-spacing: 0.03em;
                }
              }
            }
          }
        }
        &2 {
          img {
            width: 65%;
            height: 65%;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
  @media (min-width: 576px) and (max-width: 767px) {
    height: auto;
    padding-bottom: 30px;
    .container {
      max-width: 540px;
      min-width: 540px;

      .box {
        img {
          width: 65%;
          height: 65%;
        }
        &1 {
          .box-left {
            img {
              width: 100%;
            }
          }
          .box-right {
            .caption-text {
              &-bottom {
                p {
                  font-size: 22px;
                  line-height: 29px;
                  letter-spacing: 0.03em;
                }
              }
            }
          }
        }
        &2 {
          p {
            font-size: 15px;
            line-height: 15px;
          }
          img {
            width: 65%;
            height: 65%;
          }
        }
      }
    }
  }
  @media (max-width: 575px) {
    height: auto;
    padding-bottom: 30px;
    .container {
      width: 90%;

      .box {
        img {
          width: 100%;
          height: 100%;
        }
        &1 {
          display: flex;
          flex-direction: column;
          .box-left {
            img {
              width: 100%;
            }
          }
          .box-right {
            border-left: none;
            .caption-text {
              &-bottom {
                p {
                  font-size: 20px;
                  line-height: 24px;
                  margin-bottom: 30px;
                }
              }
            }
          }
        }
        &2 {
          p {
            font-size: 16px;
            line-height: 24px;
          }
          img {
            width: 100%;
            height: 100%;
          }
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}
