.mainBottom {
  width: 100%;
  margin: auto;

  .container {
    width: 80%;
    max-width: 1036px;
    margin: 60px auto 20px auto;

    .head {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .caption-text {
        display: flex;
        align-items: center;

        h2 {
          font-family: Gosha Sans;
          font-size: 24px;
          font-style: normal;
          font-weight: 400;
          line-height: 29px;
          margin-right: 15px;
        }
      }
      .allBlogs {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 217px;
        text-align: center;
        text-decoration: none;
        background: #f4f4f4;
        border: 1px solid #eaeaea;

        span {
          color: black;
          font-family: "Proxima Nova Lt";
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 19px;
          margin-right: 5px;
        }
      }
    }
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .mainBottom {
    .container {
      max-width: 910px;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .mainBottom {
    .container {
      max-width: 685px;
      min-width: 685px;
    }
  }
}
@media (max-width: 767px) {
  .mainBottom {
    .container {
      width: 540px;
      max-width: 540px;
      min-width: auto;

      .head {
        .caption-text {
          h2 {
            font-size: 16px;
            line-height: 19px;
            font-style: normal;
            font-family: Gosha Sans;
            font-weight: 500;
          }
        }
        .allBlogs {
          display: none;
        }
      }
    }
  }
}
@media (max-width: 576px) {
  .mainBottom {
    .container {
      width: 90%;
      //  margin-bottom: 30px;
    }
  }
}
