.availableBox {
  display: flex;
  max-width: 1036px;
  width: max-content;
  height: 386px;
  overflow: hidden;

  .card {
    width: 100%;
    height: max-content;
    margin-right: 20px;
    user-select: none;
    background: #ffffff;
    max-width: 273px;
    transition: 0.4s;

    &:hover {
      transform: translate(0, -115px);
    }

    .profile {
      display: flex;
      margin-left: 20px;

      .name {
        font-family: "Proxima Nova Rg";
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
      }

      p {
        margin: auto 0;
        margin-left: 10px;
        font-family: "Proxima Nova Rg";
        font-size: 16px;
        font-style: normal;
        line-height: 24px;
      }
    }

    .text {
      margin: 20px;
      width: 80%;
      font-family: "Proxima Nova Rg";
      font-weight: 400;
      font-size: 14px;
      font-style: normal;
      line-height: 21px;
      color: #595959;
    }

    &-img {
      width: 100%;
      border-bottom: 2px solid #eaeaea;
    }

    &-title {
      width: 100%;
      text-align: left;
      margin: 20px 20px 10px 20px;
      font-family: "Proxima Nova Rg";
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 24px;
    }

    .full-info {
      display: flex;
      align-items: center;
      padding-left: 20px;
      height: 50px;
      width: 100%;
      background: rgba(255, 171, 0, 1);
      text-decoration: none;
      color: black;

      transition: 200ms;
      font-family: "Proxima Nova Lt";
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 19px;

      img {
        margin-left: 5px;
        margin-top: 1px;
      }
    }
  }

  .card:last-of-type {
    margin-right: 0;
  }
}
@media (max-width: 1050px) {
  .availableBox {
    .card {
      &-title {
        margin-left: 10px;
      }
    }
  }
}

@media (max-width: 992px) {
  .availableBox {
    max-width: 685px;
    min-width: 685px;

    .card {
      width: 215px;
      height: max-content;

      &:hover {
        transform: translate(0, -57px);
      }

      &-img {
        margin: 0;
      }

      &-title {
        margin: 15px 15px 0 15px;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
      }
    }
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  .availableBox {
    display: flex;
    justify-content: space-between;
    width: 540px;
    max-width: 540px;
    min-width: auto;

    .card {
      width: 250px;
      height: 410px;
      user-select: none;
      margin: 0;

      background: #ffffff;
      border: 2px solid #dad9d9;

      &-img {
        width: 100%;
        margin-bottom: 10px;
      }

      &-title {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
      }

      .full-info {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        width: 193px;
        margin: 0;
        margin-top: 15px;
        background: rgba(255, 171, 0, 1);
        text-decoration: none;
        text-align: center;
        color: black;
        margin-left: 15px;
        background: #ffffff;

        transition: 200ms;

        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;

        &:hover {
          background: rgba(255, 171, 0, 1);
          border: 2px solid transparent;
        }

        img {
          margin-left: 5px;
          margin-top: 3px;
        }
      }

      &:last-of-type {
        display: none;
      }
    }
  }
}
@media (max-width: 575px) {
  .availableBox {
    max-width: 90%;
    min-width: 90%;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0 auto;

    .card {
      margin: 0 auto 15px auto;
      height: auto;
      width: 100%;
      max-width: 100%;

      &:hover {
        transform: translate(0, 0);
      }

      &-title {
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
      }

      .full-info {
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 19px;
      }
    }

    .card:last-of-type {
      display: none;
    }
  }
}
